.git
.github
.vscode
.venv
.pytest_cache
.pytest_cache_local
.pytest_tmp
.ruff_cache
.tmp
.uv-cache
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info

.env

node_modules
frontend
assets
notebooks
tests

outputs
build
dist
wheels

data/chunks
data/input/*
!data/input/Symptom2Disease.csv
data/output/*
!data/output/kb.pkl
!data/output/kb_texts.pkl
!data/output/kb_embeddings.pt

Zeno Minutes.mp4
Zeno Minutes_normalized.wav
